<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>First page</title>
    </head>
    <body>
        <form method="post" action="{% url 'second_page' %}">
            {% csrf_token %}
            <input  type="text" placeholder='Search customer' name='searched'>
            <button type="submit">Search</button>
        </form>
        <div class="orders">

            <table>
                <tr>
                    <th colspan="2">Order</th>
                </tr>
                <tr>
                  <th>ID</th>
                  <th>customer</th>
                </tr>
                <tr>
                  <td colspan="2">No Orders</td>
                </tr>

            </table>
        </div>
    </body>
</html>
